<footer class="footer" id="footer">
  <ul class="link-list">
    <li>
      <a href="/resume" rel="noopener noreferrer" target="_blank">RESUME</a>
    </li>
    <li>
      <a
        href="mailto:igotkarthik@gmail.com"
        rel="noopener noreferrer"
        target="_blank"
      >
        EMAIL
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/igotkarthik"
        rel="noopener noreferrer"
        target="_blank"
      >
        TWITTER
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/karthik-rao-324b261a5/"
        rel="noopener noreferrer"
        target="_blank"
      >
        LINKEDIN
      </a>
    </li>
  </ul>
  <div class="js-space-trigger"></div>
</footer>
