---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: KR
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Karthik Rao</span>, a <button class="button-text js-channel-trigger" data-channel="8">Web Developer</button> based in Bengaluru, web engineer, CSS enthusiast and avid Information Seeker.
    <br/><br/>
    Currently, I'm focused on improving myself on the journey of technology.
    <br/><br/>
    I'm a very outgoing and curious person, who's passionate about
    <a href="https://github.com/TheDevilPython" target="_blank" rel="noopener noreferrer">coding</a>,
    <a href="https://instagram.com/karthik_rao._" target="_blank" rel="noopener noreferrer">photography, nature, cats</a>,
    and
    <a href="https://open.spotify.com/user/e46q8smpv3lornc6boxtwucio" target="_blank" rel="noopener noreferrer">music</a>. I love to stare at a
    <a href="https://www.primevideo.com/" target="_blank" rel="noopener noreferrer">not-so-bright screen</a>
    while coding on a constant state of
    <a href="https://youtu.be/JGwWNGJdvx8?si=nHM2nEDDDqOYrzoY" target="_blank" rel="noopener noreferrer">Flow</a>. Here are some <a href="/playlists">playlists</a> to get you going.
    <br/><br/>
    If you'd like to chat, feel free to reach me by <a href="mailto:igotkarthik@gmail.com">e-mail</a>.
  </p>
</article>
